{% extends 'base.html.twig' %}
{% block body %}
    {% for user in users %}
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.logo }}</li>
        <li><a href="{{ path('user_show', {'id':user.id}) }}">Link</a></li>
        <li>
            <form action="{{ path('user_delete', {'id':user.id}) }}" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" />
            </form>
        </li>
    {% endfor %}
<h1>Your lucky number is </h1>
{% endblock %}
